%h2 Welcome to ICrewing!

%p
  %div Your email is your identifier to access your CV.
  %div To continue with your application, please follow this link.
%br/
%p= link_to('UPDATE PERSONAL DATA', sailor_users_url(user_email: @user.email, user_token: @user.authentication_token), style: email_btn_style)
%br/
%p
  %div You can change or add your personal data at any time. When you fill in your application you can send out your CV to the database of the crewing agencies and shipowners throughout the ICrewing pool.
  %div As a reminder, please fill in your application correctly.
  %div Please be advised, that the submission of your application does not guarantee a job placement.