%h2 Dear #{@user.name}, thanks for registration.

%p We will contact to you in neares time.

%p Your password: #{@password}
%p= link_to('Login to management interface', new_user_session_url, style: email_btn_style)

