%h2 Dear #{@user.full_name}

%p
  %div Thank your for submitting your application with Crew BV.
  %div It has beed successfully received and will be reviewed by one one of our staff in due course.
  %div Please note that submitting an application doesn't guarantee you an employment.

%h3 Update personal data
%p
  You may access your personal profile to update personal data at any time.
  If you think you missed something or want to do a final polish, you are more than welcome to do so.
= link_to('UPDATE PERSONAL DATA', enter_users_url(user_email: @user.email, user_token: @user.authentication_token), class: 'btn btn-info')
