.send_email
  .h3 Please check your mailbox #{@user.email} for the link to update or edit your personal data.
  %div Click below to receive an access to your personal account again.
  %div #{@user.name} #{button_tag('Send again', onclick: "$('#new_user').submit()", data: {disable_with: 'sending...'}, class: 'btn btn-warning btn-sm')}