%hr
= render file: 'pages/show'

-#.row
  .col-xs-10.col-xs-offset-1
    %h3.text-center
      ICrewing is a universal platform to search for a job as a sailor and employment assistance for commanders in the best shipping companies in different parts of the world. It is also the largest database to search for sailors for crewing companies and agencies for open positions.
  .col-xs-12.text-center
    %br
    = image_tag('red-seea.jpg')
    %br
    %br
  .col-xs-12.lead
    &nbsp; ICrewing - offers sailors and the fleet staff two variants of interaction with a potential employer: with the shipowner or the crewing company. In the «Sailor» tab anyone can fill out an application form in English, indicating all personal and medical details, passport information of a sailor, marine education and a detailed list of supporting documents, marine certificates, references, as well as experience. Your completed application form will be stored in the database platform of Icrewing, where more than 350 crewing agencies and shipping companies have access to search for candidates for their vacancies. The convenient and simple form of the application will ensure you a quicker search for a job. You can correct or update your profile information anytime, thus alaways having a current resume for a job search. For an additional small fee you can send your application to our crewing partners from around the world which are more than 650 companies and agencies.
    .col-xs-12.text-center
      = image_tag('spliter.png')
    %div
      &nbsp; We work only with reliable and responsible employers which offer jobs abroad in shipping companies, shipyards and ports. The wide geographic range of our partners increases your employment opportunities, as we present vacancies of crewing companies of Odessa, Kherson, Simferopol, Mariupol,
    %hr
    %p
      &nbsp; Nikolaev, St. Petersburg, Novorossiysk, Vladivostok, Astrakhan; shipping companies in Ukraine, Latvia, Lithuania, Russia, Georgia, Greece, Turkey, the United States, Britain, Norway, the Netherlands, Bulgaria, Iceland, the United Arab Emirates. Jobs are available for all professions on various types of vessels: passenger ships, bulk carriers, container ships, tankers, chemical tankers, gas carriers, RO-RO, LO-RO, tugs, offshore fleet, yachts.
    %hr
    %h3.text-center
      The ICrewing Platform wishes you fair winds and following seas!

