%table.table.table-hover
  %thead
    %tr
      %th Address
      %th Mobile
      %th
  - Contact.limit(2).each do |contact|
    - contact = contact.decorate
    %tr
      %td= contact.short_address
      %td= contact.mphone
      %td= link_to(t('global.edit'), edit_contact_path(contact), class: 'btn btn-default')