$('.step-content').prepend('#{ j render partial: 'layouts/messages'}')
$('#new_lang').replaceWith('#{j render(partial: 'langs/form', locals: {lang: @lang}) }')
$('##{dom_id(@lang)}').fadeTo(100, 0.1).fadeTo(200, 1.0);