.cv {
  font-size: 12px;
  background: none;
  main {
    margin: 0;
    padding: 0;
  }
  thead {
    tr {
      background: #EEE;
      font-weight: bold;
    }
  }
  .head {
    background: #EEE;
    font-weight: bold;
  }
  .contact {
    font-size: 13px;
    font-weight: bold;
  }
}