/*
 *= require_self
 */

@import "bootstrap";
.cv {
  font-size: 9px;
  background: none;
  h4 {
    margin: 5px;
  }
  main {
    margin: 0;
    padding: 0;
  }
  thead {
    tr {
      background: #EEE;
      font-weight: bold;
    }
  }
  tr {
    td {
      padding: 3px 5px !important;
    }
  }
  .head {
    background: #EEE;
    font-weight: bold;
  }
  .contact {
    font-size: 13px;
    font-weight: bold;
  }
  .table-bordered > thead {
    border-top: 1px solid #aaa;
  }
  .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #aaa;
  }
}