.light {
  background: image-url('light-bg.jpg');
  main {
    .container {
      .well {
        margin-top: 10%;
      }
    }
  }
}

.registration {
  background: #515151 image-url('bg-gray.png');
  .container {
    background: white image-url('bg-gray.png');
    padding-left: 0;
    padding-right: 0;
    form {
      background: transparent;
    }
  }
}
