/*
 *= require_self
 */

@import "bootstrap";
.cv {
  font-size: 12px;
  background: none;
  h4 {
    margin: 5px;
  }
  main {
    margin: 0;
    padding: 0;
  }
  thead {
    tr {
      background: #EEE;
      font-weight: bold;
    }
  }
  tr {
    td {
      padding: 3px 5px !important;
    }
  }
  .head {
    background: #EEE;
    font-weight: bold;
  }
  .contact {
    font-size: 13px;
    font-weight: bold;
  }
}